/* global */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    background-color: rgb(245, 248, 255);
    font-family: "Montserrat", sans-serif;
}

/* common css */
.container{
    max-width: 1140px;
    margin: auto;
}

img{
    max-width: 100%;
}

/* customs font*/
.montserrat-txt {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*sheared color */
.orange{
    color:  rgb(233, 90, 8);
}
.gray-blue{
    color: rgb(137, 135, 161);
}

.btn{
    background: rgb(233, 90, 8);
    border: none;
    color: white;
    padding: 10px 55px;
    font-size: .5rem;
    font-family: sans-serif;
}
/* custom css*/

/* nav desktop style */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-logo{
    flex: 1;
}

.nav-item a{
    
    list-style: none;
    text-decoration: none;
   
    font-size: 1.5rem;
    font-weight: 400;
    font-family: sans-serif;
    
}

.nav-item{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 40px;
}



.nav-item a:nth-child(1),
 .nav-item a:nth-child(4)
 {
    color: black;
}

 .nav-item a:nth-child(2),
 .nav-item a:nth-child(3)
 {
    color: rgb(137, 135, 161);
}

/* banner style start */

span{
    color:  rgb(233, 90, 8);
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 221px;
    
}
.banner-left{
    flex: 1;
}
.banner-right{
    flex: 1;
}
.banner-left h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
}

.banner-left p{
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    max-width: 85%;
}

.hero{
    margin-top: 100px;
    align-items: center;
}
.hero-top{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.hero-top h2{
    font-size: 3rem;
}
.hero-top p{
    font-size: .9rem;
    margin-bottom: 30px;
    
    
    
}

/* card style */

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card-container .card{
    text-align: center;
}
.card-container .card img{
    max-width: 100%;
    
}

.card h3 {
    font-weight: 700;
    font-family: sans-serif;
}
.card h5{
    font-weight: 500;
    margin-bottom: 7px;
    font-family: sans-serif;
}

.card-container .card .card-text{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}




/* Mobile Responsible */

@media screen and (max-width: 768px) {
    /* nav style */
    
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item a{
        font-size: 1rem;
    }
     .nav-item a:nth-child(1),
 .nav-item a:nth-child(2),
 .nav-item a:nth-child(3){
     display: none;
 }
 
 /* banner styles */
 
 .banner{
     display: flex;
     flex-direction: column-reverse;
     margin-top: 10px;
 }
 .banner img{
     max-width: 100%;
 }
 .banner-left {
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .banner-left p{
     max-width: 100%;
 }
 
 /* card style */
 .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.card-container .card img{
    max-width: 100%;
}

.card-container .card .btn{
    padding: 8px 105px;
    font-size: .6rem;
    font-family: sans-serif;
    font-weight: 400;
}
}