/* global */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    background-color: rgb(245, 248, 255);
    font-family: "Montserrat", sans-serif;
}

/* common css */
.container{
    max-width: 1140px;
    margin: auto;
}

img{
    max-width: 100%;
}

/* customs font*/
.montserrat-txt {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*sheared color */
.orange{
    color:  rgb(233, 90, 8);
}
.gray-blue{
    color: rgb(137, 135, 161);
}

.btn{
    background: rgb(233, 90, 8);
    border: none;
    color: white;
    padding: 10px 39%;
    font-size: .5rem;
    font-family: sans-serif;
    transition: .4s ease;
}
.btn:hover{
    background: #006688;
}
/* custom css*/

/* nav desktop style */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-logo{
    flex: 1;
}

.nav-item a{
    
    list-style: none;
    text-decoration: none;
   
    font-size: 1.5rem;
    font-weight: 400;
    font-family: sans-serif;
    
}

.nav-item{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 40px;
}



.nav-item a:nth-child(1),
 .nav-item a:nth-child(4)
 {
    color: black;
}

 .nav-item a:nth-child(2),
 .nav-item a:nth-child(3)
 {
    color: rgb(137, 135, 161);
}

/* banner style start */

span{
    color:  rgb(233, 90, 8);
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 221px;
    
}
.banner-left{
    flex: 1;
}
.banner-right{
    flex: 1;
}
.banner-left h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
}

.banner-left p{
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    max-width: 85%;
}

.hero{
    margin-top: 100px;
    align-items: center;
}
.hero-top{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.hero-top h2{
    font-size: 3rem;
}
.hero-top p{
    font-size: .9rem;
    margin-bottom: 30px;
    
    
    
}



/* card style */

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card-container .card{
    text-align: center;
}
.card-container .card img{
    max-width: 100%;
    
}

.card h3 {
    font-weight: 700;
    font-family: sans-serif;
}
.card h5{
    font-weight: 500;
    margin-bottom: 7px;
    font-family: sans-serif;
}

.card-container .card .card-text{
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* badge style start */

/* Section Container */
.flower-section {
    display: flex;
    align-items: center;
    gap: 50px;
    
    
    margin-top: 250px;
}

/* Image Box */
.image-box {
    position: relative;
    width: 540px;
    height: 597px;
    
    border-radius: 10px;
}

.image-box img:first-child {
    width: 540px;
    height: 597px;
    z-index: 3;
    filter: brightness(85%);
}

/* Trusted Badge */
.badge {
    position: absolute;
    top: -150px;
    left: 90%;
    transform: translateX(-50%);
    width: 286px;
    height: 286px;
    z-index: 20;
    
    filter: drop-shadow(-4px 10px 4px 0px rgba(0, 0, 0, 0.25));
background: url(trusted-badge);
}

/* Content Box */
.content-box {
    flex: 1;
    color: #333;
}

.content-box h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-box ul {
    list-style: disc;
    padding-left: 20px;
    color: #6d6d6d;
}

.content-box li {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1.1rem;
}


/* footer 
footer{
    background: url(./assets/news-letter-bg.png);
    width: 1440px;
    height: 533px;
}


/* Mobile Responsible */

@media screen and (max-width: 768px) {
    /* nav style */
    
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item a{
        font-size: 1rem;
    }
     .nav-item a:nth-child(1),
 .nav-item a:nth-child(2),
 .nav-item a:nth-child(3){
     display: none;
 }
 
 /* banner styles */
 
 .banner{
     display: flex;
     flex-direction: column-reverse;
     margin-top: 10px;
 }
 .banner img{
     max-width: 100%;
 }
 .banner-left {
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .banner-left p{
     max-width: 100%;
 }
 
 /* card style */
 .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.card-container .card img{
    width: 171px;
    height: 196px;
}

.card-container .card .btn{
    padding: 8px 31%;
    font-size: .6rem;
    font-family: sans-serif;
    font-weight: 400;
}

/* flower store badge sections */


}